fastapi
uvicorn[standard]
numpy>=2.0
langchain
langchain-groq
langchain-huggingface
langchain-community
pinecone
sentence-transformers
youtube-transcript-api
yt-dlp
apify-client
chromadb
python-dotenv
pydantic
sse-starlette
httpx
langchain-text-splitters
